
<h2>ChooseLocal</h2>


@using (Html.BeginForm("ChooseFood", "Lokacii", FormMethod.Post))
{
    <select name="localName">
        @foreach (var item in Model)
        {

            <option value="@item">@item</option>
        }
    </select>

    <button type="submit">CHOOSE LOCAL</button>

}
