@{
    ViewBag.Title = "За нас";
}
<style>
    .poz{
        background-color:white !important;
    }

    .body{
        background: url("../../NewFolder1/background.png")
    }
</style>
<div class="poz">
    <h2>@ViewBag.Title.</h2>

    <p>
        O&E е апликација лесна за користење, со прилагодлив интерфејс, наменета за
        сите категории и возрасти на корисници. Бесплатна веб платформа на која може
        да ги пронајдете достапните ресторани и локали за брза храна на избрана
        локација. Корисникот треба да се регистрира во системот со правење сопствен
        профил кој ќе го користи за нарачки. Имплементиран е систем за онлајн нарачка
        на посакуваниот производ така што корисникот избира локал од понудената
        листа.По избирањето на локалот достапно е мени од каде може да се избере што
        сака да нарача корисникот. Обезбедува основен сет на функции за пронаоѓање
        на вашата моментална локација, калкулирање на потребното време за
        пристигнување на нарачката до вашата моментална локација.Кога нарачката ќе
        биде доставена на адресата на корисникот на апликацијата ќе пристигне
        соодветна нотификација. O&E нуди апликациски систем кој ни овозможува на
        најлесен начин да направиме online нарачка без главоболки од скапи софтвери
        и сложени структури за плаќање.
    </p>
</div>
